* {
  box-sizing: border-box;
}

body{
font-family:'Arimo', sans-serif;
  min-width: 300px;
  background-color: rgb(111, 111, 220);
}
.button {
  background-color:aqua;
  border: 1px solid aqua;
  border-radius: 5px;
  box-shadow: 1px 2px 0 0px;
  color:rgb(18, 18, 97);
  font-weight: 500;
  cursor:pointer;

}

.button:hover {
  background-color:rgb(164, 37, 171);
  text-transform: uppercase;
  border-bottom: 1px solid greenyellow;
  transform: scale(.9);

}

h2 {
    text-align: center;
  }



.intro {
    max-width: 900px;
}

.logo {
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  
}
.logo:hover {
  transform: scale(.9);
}
fieldset {
  border: none;
  margin-bottom:8px;
  background-color: coral;
  border-radius: 5px;

}

legend {
  font-style: italic;
  background-color: cadetblue;
  text-align: left;
}
textarea {
  resize:vertical;
  width:100%;

}

form {
  
  background-color: yellow;
  border: 1px solid grey;
  text-align: center; 
  border-radius: 5px;
  padding: 16px;
}
.basic_info {
display:flex;
flex-direction: column;
flex-wrap: wrap;
}

main .container:first-child {
  background-color: purple;
}
.first_bit > .button:hover {
  background-color:yellow ;
}

.wrapper {
  margin: 0 auto;
  padding: 0 16px 16px;
}
.container {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 16px 8px 24px;
    text-align: center;
    border-radius: 5px;

}


header {
  background-image: url("../images/background_img.png");

  background-color: rgb(112, 240, 112);
  padding: 32px 0;
}
footer {
  background-color: rgb(111, 111, 220);
  padding: 32px;
}

/* Flex */

.nav-container,
.nav-bar {
  display: flex;
  flex-direction: column;
}

.nav-container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-bar li {
  width: 100%;
  min-width: 151px;
  margin: 3px auto;
  padding: 8px;
  border: 0.5px solid magenta;
  border-radius: 15%;
  box-shadow: 4px 2px 0;
  background-color: beige;
}

.nav-bar li:hover {
  border-bottom: 0.5px aqua solid;
}

.logo {
  max-width: max-content;
}

h1,
.intro {
  text-align: center;
}

@media screen and (min-width: 650px) {
  .nav-bar {
    flex-direction: row;
  }

  .nav-bar li {
    margin: 0 5px;
  }
}

@media screen and (min-width: 900px) {
  .nav-bar,
  .nav-container {
    flex-direction: row;
  }

  .nav-container {
    justify-content: space-between;
    align-items: initial;
  }

  .nav-bar li {
    margin: 0 5px;
    margin-bottom: auto;
  }

  .nav-bar {
    margin-bottom: auto;
  }

  h1,
  .intro {
    text-align: left;
  }
  
}
