.button {
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 5px;
    box-shadow: 1px 2px 0 0px;
    color: rgb(18, 18, 97);
    font-weight: 500;
    cursor: pointer;
    transition: 1s ease-out;
    transition-property: background-color, transform, border-bottom;
}

li button {

    padding: 8px;
    margin-left: 50px;

}

.button:hover {
    background-color: rgb(164, 37, 171);
    border-bottom: 1px solid greenyellow;
    transform: scale(0.9);
}



.first_bit>.button:hover {
    background-color: yellow;
}

.main-btn, .toggle-btn, .remove-btn {
    @include button;
    margin: 6px 0;
}

.remove-btn {
    background-color: tomato;
    border: 1px solid tomato;
}

.input-main {
    min-height: 44px;
    margin-left: 8px;
    border-radius: 5px;
    border: 1px solid aqua;
        border-radius: 5px;
        box-shadow: 1px 2px 0 0px;
}