input[type="email"]::placeholder {
    font-weight: 300;
    font-style: italic;
}

fieldset {
    border: none;
    margin-bottom: 8px;
    background-color: coral;
    border-radius: 5px;
}

legend {
    font-style: italic;
    background-color: cadetblue;
    text-align: left;
}

textarea {
    resize: vertical;
    width: 100%;
}

form {
    background-color: yellow;
    border: 1px solid grey;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
}

input[type="checkbox"]:checked+label {
    font-weight: bold;
}