* {
    box-sizing: border-box;
}

body {
    font-family: "Arimo", sans-serif;
    min-width: 300px;
    background-color: rgb(111, 111, 220);
}


h2 {
    text-align: center;
}

.intro {
    max-width: 900px;
}



.basic_info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.wrapper {
    margin: 0 auto;
    padding: 0 16px 16px;
    max-width: $max-width;
}


.header_wrapper {
    background-image: url("../images/background_img.png");

    background-color: rgb(112, 240, 112);
    padding: 32px 0;
}

footer {
    background-color: rgb(111, 111, 220);
    padding: 32px;
}

table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

td,
th {
    padding: 8px;
    border: 1px solid black;
}



/* Cube */

.cube-container {
    perspective: 800px;
    margin-left: calc(50% - 32px);
}

.photo-cube {
    transition: transform 2s ease-in-out;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;

}

.photo-cube:hover {
    transform: rotateY(-270deg);
}

.front,
.back,
.left,
.right {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.front {
    transform: translateZ(50px);
    background-color: aqua;
    color: blueviolet;
    text-align: center;
    padding: 2em 1em;
}

.back {
    transform: translateZ(-50px) rotateY(270deg);
    transform-origin: center left;
    background-color: blue;
    text-align: center;
        padding: 1.5em 1em;
}

.left {
    transform: rotateY(-270deg) translateX(50px);
    transform-origin: top right;
    background-color: rgb(124, 24, 105);
    text-align: center;
        padding: 1.5em 1em;
}

.right {
    transform: translateZ(-50px) rotateY(-180deg);
    background-color: darkgreen;
    text-align: center;
        padding: 1.5em 1em;

}

