// Flex container

@mixin flex-container($disp: flex,
    $dir: null,
    $wrap: null,
    $just: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
}

@mixin button { 
min-height: 44px;
max-width: 160px;    
background-color: aqua;
border: 1px solid aqua;
border-radius: 5px;
box-shadow: 1px 2px 0 0px;
color: rgb(18, 18, 97);
font-weight: 500;
cursor: pointer;
transition: 1s ease-out;
transition-property: background-color,
transform,
border-bottom;
&:hover {
        background-color: rgb(164, 37, 171);
        border-bottom: 1px solid greenyellow;
        ;
    }

}

